<div class="option">
    <input type="checkbox" checked="@useWebWorker" id="web-worker" name="web-worker">
    <label for="web-worker">Use web worker for scanning</label>
</div>

<div class="option">
    <input type="checkbox" checked="@useInternalCropping" id="internal-cropping" name="internal-cropping">
    <label for="internal-cropping">Use internal image cropping</label>
</div>

<div class="option">
    <input type="checkbox" checked="@ignoreFormats.jpg" id="ignore-format-jpg" name="ignore-format-jpg">
    <label for="ignore-format-jpg">Ignore <code>jpg</code> format</label>
</div>

<div class="option">
    <input type="checkbox" checked="@ignoreFormats.png" id="ignore-format-png" name="ignore-format-png">
    <label for="ignore-format-png">Ignore <code>png</code> format</label>
</div>

<div class="option">
    <input type="checkbox" checked="@ignoreFormats.gif" id="ignore-format-gif" name="ignore-format-gif">
    <label for="ignore-format-gif">Ignore <code>gif</code> format</label>
</div>
