.barcode-fullscreen psk-barcode-scanner::part(done) {
    transform: unset;
    left: unset;
    right: 0.75rem;
    border-radius: 0.45rem !important;
}

.barcode-fullscreen img[alt="saved-frame"] {
    margin-top: 2rem;
}

.barcode-fullscreen {
    width: 100%;
    height: 100%;
    background: #424242;
}

.barcode-container {
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
    background: rgba(255, 255, 255, .35);
    border: 4px solid #2F2F2F;
    width: 40vw;
    width: fit-content;
    height: 100%;
    max-height: 100vh;
    aspect-ratio: 4 / 9;
}

.barcode-container.success {
    border-color: #48D960;
}

.barcode-container.fail {
    border-color: #FA113D;
}

.buttons-container {
    position: absolute;
    top: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.5rem;
    z-index: 1;
}

.buttons-container.modes {
    display: flex;
    align-items: center;
    top: unset;
    bottom: 1rem;
    left: 0.75rem;
    justify-content: flex-start;
}

.buttons-container.modes span {
    color: white;
}

.buttons-container button {
    padding-left: 1em;
    padding-right: 1em;
}

.barcode-container .button-retry {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 1.5em;
    font-size: 2em;
}

scanner-modal {
    display: block;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%; height: 100%;
    overflow: hidden;
    z-index: 2;
}

scanner-modal input[type="checkbox"],
scanner-modal label {
    cursor: pointer;
    accent-color: var(--primary-color);
    margin: 0;
}

scanner-modal input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em
}

scanner-modal label {
    font-size: 1.1em;
}

scanner-modal .option {
    display: flex;
    align-items: center;
    gap: 0.75em;
}

scanner-modal .option.bottom {
    position: absolute;
    bottom: 0.75em;
    left: 0.5em;
    right: 0.5em;
}

scanner-modal .option.bottom > button {
    width: 100%;
}

scanner-modal psk-code pre {
    max-height: 50vh;
}

scanner-downloader-options {
    display: grid;
    gap: 0.5em;
}