#test-container {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%; height: 100%;
    background: #eaeaea;
}

#test-container header {
    display: block;
    padding: 1.5rem 0;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.15);
    font-size: 1.4rem;
    align-items: center;
    gap: 1rem;
    z-index: 1;
}

#test-container header section {
    display: flex;
    justify-content: space-between;
}

#test-container header section,
#test-container main {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    padding: 0 1.5rem;
    overflow: hidden;
}

#test-container header code {
    background: #e5e5e5;
    padding: 0.4rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    font-size: 1.1rem;
}

#test-container main psk-code pre {
    border-radius: 1px;
    font-size: 90%;
}

#test-container main {
    display: block;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

#test-container main psk-example {
    display: block;
    margin: 1.5rem 0;
    padding: 0 1rem 1rem 1rem;
    background: whitesmoke;
    border-radius: 1px
}