/* Path: pages/manual-tests/webc-datatable/9/styles.css */

.tdb-9 .webc-datatable {
    --no-of-columns: 3;
}

.tdb-9 .webc-datatable::part(pagination) {
    padding-top: 1rem;
}

.tdb-9 .webc-datatable--container,
.tdb-9 .webc-datatable--container > .webc-datatable--header {
    display: grid;
    grid-template-columns: repeat(var(--no-of-columns), 1fr);
    align-content: start;
    column-gap: 1rem;
}

.tdb-9 .webc-datatable--container {
    /*min-height: 300px;*/
}

.tdb-9 .webc-datatable--container > * {
    padding: 0.75rem 0;
    border-bottom: 1px solid #CDCDCD;
}

.tdb-9 .webc-datatable--container > .webc-datatable--header {
    font-weight: bold;
    border-color: #2F2F2F;
    margin-bottom: 0.5rem;
    grid-column: 1 / -1;
}

.tdb-9 .webc-datatable--container webc-spinner {
    align-self: center;
    border-bottom: none;
}

.tdb-9 .controls {
    display: flex;
    justify-content: center;
}
.tdb-9 .controls > button {
    padding: 0.75rem; margin: 1rem 0.5rem 0 0; border-radius: 1rem;
    background: rgba(0, 0, 0, 0.1); border: 1px solid transparent;
    transition: border-color 200ms ease-in-out;
}
.tdb-9 .controls > button:hover {
    border-color: var(--primary-color);
}