<div data-label-1="@label" data-label-2="@label" data-value-1="@value" data-value-2="@value">
  1: {{ @label }} {{ @label }} - {{ @value }} {{ @value }}
</div>
<div data-label-1="@label" data-label-2="@label" data-value-1="@value" data-value-2="@value">
  2: {{ @label }} {{ @label }} - {{ @value }} {{ @value }}
</div>
<div data-label-1="@label" data-label-2="@label" data-value-1="@value" data-value-2="@value">
  3: {{ @label }} {{ @label }} - {{ @value }} {{ @value }}
</div>
<div data-label-1="@label" data-label-2="@label" data-value-1="@value" data-value-2="@value">
  4: {{ @label }} {{ @label }} - {{ @value }} {{ @value }}
</div>
<div data-label-1="@label" data-label-2="@label" data-value-1="@value" data-value-2="@value">
  5: {{ @label }} {{ @label }} - {{ @value }} {{ @value }}
</div>