<style>
:host h5 {
  margin: 0.25rem 0;
}
:host code {
  color: var(--primary-color);
}
</style>
<section>
  <h5>Shadow part</h5>
  <div><code>key:</code> {{ $key }}</div>
  <div><code>number:</code> {{ $number }}</div>
  <div><code>value:</code> {{ $value }}</div>
  <div><code>address.street:</code> {{ $address.street }}</div>
  <div><code>address.city:</code> {{ $address.city }}</div>
  <div><code>address.country:</code> {{ $address.country }}</div>
</section>
<br>
<section>
  <h5>Slotted part</h5>
  <slot></slot>
</section>