.barcode-fullscreen {
    width: 100%;
    height: 100%;
    background: #373737;
}

.barcode-container {
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
    border: 4px solid #242424;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.barcode-container.success {
    border-color: #48D960;
}

.barcode-container.fail {
    border-color: #FA113D;
}


.buttons-container {
    position: absolute;
    top: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.5rem;
    z-index: 1;
}

.buttons-container.modes {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    top: unset;
    bottom: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.buttons-container.modes span {
    color: white;
}

.buttons-container button {
    padding-left: 1em;
    padding-right: 1em;
}

.barcode-container .button-retry {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 1.5em;
    font-size: 2em;
}


scanner-modal {
    display: block;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%; height: 100%;
    overflow: hidden;
    z-index: 2;
}

light-scanner-downloader-options {
    display: grid;
    gap: 0.5em;
}

light-scanner-downloader-options input[type="checkbox"],
light-scanner-downloader-options label {
    cursor: pointer;
    accent-color: var(--primary-color);
    margin: 0;
}

light-scanner-downloader-options input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em
}

light-scanner-downloader-options label {
    font-size: 1.1em;
}

light-scanner-downloader-options .option {
    display: flex;
    align-items: center;
    gap: 0.75em;
}

light-scanner-downloader-options .option.bottom {
    position: absolute;
    bottom: 0.75em;
    left: 0.5em;
    right: 0.5em;
}

light-scanner-downloader-options .option.bottom > button {
    width: 100%;
}

light-scanner-downloader-options psk-code pre {
    max-height: 50vh;
}


#scanner-placeholder ~ webc-switch > * {
    position: absolute;
    left: 0.5em; right: 0.5em;
    bottom: 1em;
    text-align: center;
    color: var(--primary-color);
    z-index: 99;
}

#scanner-placeholder ~ webc-switch > *.message {
    top: 50%; bottom: unset;
    padding-bottom: 1em;
    padding-left: var(--l-space);
    padding-right: var(--l-space);
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
}