.test-container {
    max-width: 1200px;
    margin: 1rem auto;
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

header h1 {
    color: var(--primary-color);
    padding: 0;
}

header psk-card .card-header {
    text-align: right;
}

psk-accordion {
    padding: 1rem;
}

main {
    display: grid;
    grid-template-columns: 2fr 2fr 6fr;
    grid-template-rows: auto auto auto;
    column-gap: 2rem;
    row-gap: 1rem;
    align-items: start;
}

main textarea {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 0.75rem;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    resize: vertical;
}

main button {
    grid-row: 2 / 3;
    border: none;
    padding: 0.5rem 0.25rem;
    color: white;
    background: var(--primary-color);
    border-radius: 4px;
}

main button[data-model="@main.save"] {
    grid-column: 1 / 2;
}

main button[data-model="@main.save"] {
    grid-column: 2 / 3;
}

main psk-accordion {
    grid-row: 1 / -1;
    grid-column: 3 / -1;
}
