@import 'css/parts/reset.css';
@import 'css/parts/fonts.css';
@import 'css/parts/variables.css';
@import 'css/parts/page.css';

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    background: white;
}