<webc-container data-view-model="@" controller="../../pages/manual-tests/webc-container/test-2/Controller3">
  <style>
    code,
    hr {
      margin-top: 1rem;
      display: block;
    }
  </style>

  <br>
  {{ @text3 }}
  <br>
  Number: {{ @number3 }}

  <code>data-if</code>
  <div data-if="@boolean3">
    <span slot="true">{{ @trueValue3 }}</span>
    <span slot="false">{{ @falseValue3 }}</span>
  </div>

  <code>data-for</code>
  <div data-for="@array3">
    {{ @index3 }} - {{ @value3 }}<br>
  </div>
</webc-container>