:root {
    --primary-color: #4CAF50;
    --primary-color-transparent: #4CAF5050;
}

webc-app-menu[mode='vertical'] {
    --background: whitesmoke;
    --color: #212121;
    --min-width: 240px;
}

webc-app-menu[mode='mobile'] {
    --background: whitesmoke;
    --burger-color: #212121;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

webc-app-menu .app-menu {
    border-top: 1px solid #cdcdcd;
    padding-top: 1rem;
}

webc-app-identity {
    --color: #212121;
}