*, *:before, *:after {
    box-sizing: border-box;
}

a,
code {
    color: var(--primary-color);
}

a[target="_blank"]::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}

pre {
    border-left-color: var(--primary-color);
}

psk-page::part(page-title) {
    color: var(--primary-color);
}

button.button-icon {
    padding: 1rem; display: flex; align-items: center;
}

input[type='color']:focus, input[type='date']:focus, input[type='datetime']:focus, input[type='datetime-local']:focus, input[type='email']:focus, input[type='month']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, input[type='week']:focus, input:not([type]):focus, textarea:focus, select:focus {
    border-color: var(--primary-color);;
}

.button {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

button.button-outline,
.button.button-outline {
    color: var(--primary-color)
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.button[disabled]:focus, .button[disabled]:hover, button[disabled]:focus, button[disabled]:hover, input[type='button'][disabled]:focus, input[type='button'][disabled]:hover, input[type='reset'][disabled]:focus, input[type='reset'][disabled]:hover, input[type='submit'][disabled]:focus, input[type='submit'][disabled]:hover {
    background: var(--primary-color-transparent);
    border-color: var(--primary-color);
}

.button.button-outline[disabled]:focus, .button.button-outline[disabled]:hover, button.button-outline[disabled]:focus, button.button-outline[disabled]:hover, input[type='button'].button-outline[disabled]:focus, input[type='button'].button-outline[disabled]:hover, input[type='reset'].button-outline[disabled]:focus, input[type='reset'].button-outline[disabled]:hover, input[type='submit'].button-outline[disabled]:focus, input[type='submit'].button-outline[disabled]:hover {
    border-color: inherit;
    color: var(--primary-color);
}

.button.button-clear, button.button-clear, input[type='button'].button-clear, input[type='reset'].button-clear, input[type='submit'].button-clear {
    color: var(--primary-color);
}
