.barcode-fullscreen {
    width: 100%;
    height: 100%;
    background: #373737;
}


.barcode-container {
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
    border: 4px solid #242424;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.barcode-container.success {
    border-color: #48D960;
}

.barcode-container.fail {
    border-color: #FA113D;
}


.buttons-container {
    position: absolute;
    top: 1em;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.5em;
    z-index: 1;
}

.buttons-container.modes {
    display: flex;
    align-items: center;
    top: unset;
    bottom: 1em;
}

.buttons-container.modes span {
    color: white;
    cursor: pointer;
}

.buttons-container > * {
    margin-bottom: 0;
}

.buttons-container input {
    width: auto;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.35);
}

.buttons-container button {
    padding-left: 1em;
    padding-right: 1em;
}

.buttons-container .total {
    color: white;
    display: flex;
    align-items: center;
}


light-scanner-checker-options input[type="checkbox"],
light-scanner-checker-options label {
    cursor: pointer;
    accent-color: var(--primary-color);
    margin: 0;
}

light-scanner-checker-options input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em
}

light-scanner-checker-options label {
    font-size: 1.1em;
}

light-scanner-checker-options .option {
    display: flex;
    align-items: center;
    gap: 0.75em;
}

light-scanner-checker-options {
    display: grid;
    gap: 0.5em;
}